.generalButton {
  font-size: large;
  background-color: #b5b5b5;
}

.textInput {
  font-size: medium;
  width: 100%;
  transform: scale(1.2);
}

.imgGrid {
  grid-template-columns: 1fr 6fr 25px;
}

.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.drawings{
  opacity: 0;
  transform: translateX(-100%);
  transition:  200ms;
}

.parent:hover .drawings{
  opacity: 1;
  transform: translateY(0%);
}